@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  block-size: block;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 254;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 254;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}
